<!DOCTYPE html>  
<html>  
<head>  
    <title>Display Stock</title>  
</head> 

<table> 
    <thead> 
    <tr> 
        <th>ID</th> 
        <th>Name</th>
        <th>Level</th>
        <th>Cut Off</th> 
    </tr> 
    </thead> 
    <tbody> 
        {% for row in value %}  
            <tr> 
                <td>{{row[0]}}</td> 
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td> 
            </tr> 
        {% endfor %} 
    </tbody> 
</table>

<body>  
    <a href ="/">Home</a><br><br>  
</body>  
</html>