<!DOCTYPE html>  
<html>  
<head>  
    <title>Sign Up</title>  
</head>

<body>
    <h2>Customer Information </h2>
    <form method="POST" action="/savecustdetails">
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>
        <br>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>
        <br>
        <tr><td>Password</td><td><input type="password" name="password"></td></tr>
        <br>  
        <tr><td>Birthday</td><td><input type="date" name="birthday"></td></tr>
        <br>

        <tr><td><input type="submit" value="Submit"></td></tr>

    </form>
</body>
</html>